.App {
  text-align: center;
  height: 100vh;
}

input{
  width: 50%;
  border: 1px solid black;
  font-size: 0.75em;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
}
